html{  
	background-color: #CCCCCC;
}
#loginForm{
	margin:10px;
	float:left;	
	margin-right: 40px;
}
#registerForm{
	padding:9px;
	margin-top:5px;
}
#nav{
	float:right;
}
#nav a{
	padding:10px;
	height:20px;
	background:#999;
	text-decoration:none;
}
#deleteProfile a{
	padding:10px;
	height:20px;
	background:#999;
	text-decoration:none;
}